@using CandidateManager.Web.ViewModels

@{
    Layout = "~/Views/Shared/_AssessmentLayout.cshtml";
}

@model SessionViewModel

@{
    const string title = "Can't Submit yet";
    ViewBag.Title = title;
}

<h2>@title</h2>
<hr />

<div class="jumbotron">
    <p>
        Dear @Html.DisplayFor(model => model.Candidate.FullName),
    </p>
    <p>
        This assessment is not started yet, please download
        the practical test before submitting your solution.
    </p>
</div>
