@using CandidateManager.Web.ViewModels

@{
    Layout = "~/Views/Shared/_AssessmentLayout.cshtml";
}

@model SessionViewModel

@{
    const string title = "Assessment Expired";
    ViewBag.Title = title;
}

<h2>@title</h2>
<hr />

<div class="jumbotron">
    <p>
        Dear @Html.DisplayFor(model => model.Candidate.FullName),
    </p>
    <p>
        This assessment has expired at
        @Html.DisplayFor(model => model.ExpiredAt).
    </p>
    <p>
        You had @Html.DisplayFor(model => model.MaxDuration)
        hours to finish the assessment.
    </p>
</div>
